body {
    
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-image: url('https://img2.goodfon.com/wallpaper/nbig/9/e4/dengi-dollary-zheltyy-fon.jpg');
    background-repeat: no-repeat;
   
    background-size: 100%;
    
    position:absolute;
     
    top: 0;
    bottom:0;
    left:0;
    right:0;
    
    display:flex;
    justify-content: center;

    min-height: 400px;

    color:rgb(235, 235, 0);
    background-color:rgb(235, 235, 0);
    
}



.container {
    width: 100%;
    max-width: 500px;

    text-align: center;

    margin:32px;
     
    background-color:#000;
    border-radius:8px;
    
    

    

    
    
}

.container input{
    margin-top: 5%;
    border-radius: 6px;
    height: 20px;
    width:80%;

    padding:12px;

    outline: none;

    font-size: 16px;

    margin-bottom: auto;
    


    color:black;
    

}


.hide {
    display:none;
    


}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}



button {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    
    
    margin-top:20px;
    margin-bottom:10px;

    width:200px;
    padding:12px;

    
    color:rgb(194, 194, 0);
    background-color:rgb(49, 49, 49);
    border:800px;
    border-radius: 6px;
    border-color:rgb(194, 194, 0);

    

    cursor: pointer;
    outline: none;

    

}



button:hover {
    background-color:rgba(194, 194, 0, 0.712);

}




footer {
    margin-top:30%;
    text-align:center;

    font-size:14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2;

}

img {
    width: 28%;
    margin-top: 12px;
    

}

footer a {
    text-decoration: none;
    cursor:pointer;
    color:0;

}

footer a:hover {
    opacity: 0.7;

}

